img{
    width: 200px;
}
nav{
    background-color: palevioletred;
}
div.contenitore{
    text-align: center;
    
}

.carousel{
   height: 400px;
   overflow: hidden;
    
}

.carousel img{
   height: 400px;
}