body{
    background-color:rgba(235, 198, 204, 0.911);
}
img{
    width: 200px;
}
nav{
    background-color: palevioletred;
}
div.contenitore{
    text-align: center;
    padding:5em;
}
div.row div{
    background-color: antiquewhite;
}
div#spazio{
     background-color:palevioletred;
}
h3{
    color:rgb(163, 7, 129);
}