body{
    background-color:rgba(235, 198, 204, 0.911);
}
img{
    width: 200px;
}
nav{
    background-color: palevioletred;
    margin-bottom:0;
}
div.contenitore{
    text-align: center;
    margin-left:80px;
    margin-right:80px;
}
div.row div{
    background-color: antiquewhite;
}
div#spazio{
     background-color:palevioletred;
}
h3{
    color:rgb(163, 7, 129);
    
}

.carousel{
   height: 400px;
   overflow: hidden;
}

.carousel img{
   height: 400px;
}
div#linea{
    border-bottom: 1px solid purple;
}
img#eventi{
    margin-top:2em;
    width: 30em;
}
h2{
    color:white;
    background-color: rgb(216, 40, 137);
}
img.logo{
    text-align:center;
}